# Flagging Loans Project


## Description:

The report will be made on data that contains information on repeated loans from current clients.

Using the available dataset, I will build a model that will predict the value of the target variable `bad_flag` and will argue for the choice of model chosen and show the expected default rate at different approval levels with detailed explanation.

### Let's import the necessary libraries

In [1]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [2]:
# Read the dataset
df = pd.read_csv("test_task.csv")
df.head()

,loanKey,rep_loan_date,first_loan,dpd_5_cnt,dpd_15_cnt,dpd_30_cnt,first_overdue_date,close_loans_cnt,federal_district_nm,TraderKey,...,payment_type_2,payment_type_3,payment_type_4,payment_type_5,past_billings_cnt,score_1,score_2,age,gender,bad_flag
0,708382,2016-10-06,2015-11-13,NaN,NaN,NaN,NaN,3.0,region_6,6,...,10,0,0,0,10.0,NaN,NaN,21.0,False,0
1,406305,2016-03-26,2015-09-28,1.0,0.0,0.0,2016-01-30,0.0,region_6,6,...,6,0,0,0,5.0,NaN,NaN,20.0,False,0
2,779736,2016-10-30,2015-12-21,NaN,NaN,NaN,NaN,2.0,region_1,6,...,0,5,0,0,5.0,NaN,NaN,19.0,False,0
3,556376,2016-06-29,2015-06-30,NaN,NaN,NaN,NaN,1.0,region_6,14,...,4,0,0,0,6.0,NaN,NaN,21.0,False,0
4,266968,2015-12-01,2015-08-03,NaN,NaN,NaN,NaN,0.0,region_5,22,...,0,0,0,0,3.0,NaN,NaN,33.0,False,0

### Exploratory Data Analysis

In [3]:
##### Checking if there are null values or not:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4157 entries, 0 to 4156
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loanKey              4157 non-null   int64
 1   rep_loan_date        4157 non-null   object
 2   first_loan           4157 non-null   object
 3   dpd_5_cnt            675 non-null    float64
 4   dpd_15_cnt           675 non-null    float64
 5   dpd_30_cnt           675 non-null    float64
 6   first_overdue_date   675 non-null    object
 7   close_loans_cnt      4142 non-null   float64
 8   federal_district_nm  4146 non-null   object
 9   TraderKey            4157 non-null   int64
 10  payment_type_0       4157 non-null   int64
 11  payment_type_1       4157 non-null   int64
 12  payment_type_2       4157 non-null   int64
 13  payment_type_3       4157 non-null   int64
 14  payment_type_4       4157 non-null   int64
 15  payment_type_5       4157 non-null   int64
 16  past_billings_cnt    3909 non-null   float64
 17  score_1              3507 non-null   float64
 18  score_2              239 non-null    float64
 19  age                  4157 non-null   float64
 20  gender               4157 non-null   bool
 21  bad_flag             4157 non-null   int64
dtypes: bool(1), float64(8), int64(9), object(4)
memory usage: 686.2+ KB